<p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button label="Adicionar utilizador" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
      <p-button
        severity="secondary"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedUser()"
        [disabled]="!selectedUser"
      />
    </ng-template>
  
    <ng-template #end>
      <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
  </p-toolbar>
  
  <p-table
    #dt
    [value]="users()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'email', 'accessLevel', 'phoneNumber']"
    [tableStyle]="{ 'min-width': '100rem' }"
    [(selection)]="selectedUser"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Utilizador {first} de {totalRecords} Utilizadores"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Utilizadores</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
        </p-iconfield>
      </div>
    </ng-template>
  
    <ng-template #header>
      <tr>
        <th style="width: 3rem" scope="col">
          <p-tableHeaderCheckbox />
        </th>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field" scope="col" style="min-width: 12rem; white-space: nowrap">
          {{ col.header }}
          <p-sortIcon [field]="col.field" />
        </th>
        <th style="min-width: 10rem" scope="col"></th>
      </tr>
    </ng-template>
  
    <ng-template #body let-user>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="user" />
        </td>
  
        <!-- Foto + Nome + Apelido -->
        <td style="min-width: 12rem; white-space: nowrap">
          <div class="flex items-center gap-2">
            <img
              [alt]="'Avatar'"
              [src]="user.imageUrl || 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'"
              width="32"
              class="w-10 h-10 rounded-full object-cover border border-gray-300"
            />
            <span>{{ user.name }} {{ user.lastName }}</span>
          </div>
        </td>
  
        <td style="min-width: 12rem; white-space: nowrap">{{ user.email }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.phoneNumber }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.address }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.birthDay }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.yearOfConversion }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.enabled ? 'Sim' : 'Não' }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.maritalStatus }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.disciplinaryStatus }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.positionCode }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.departmentCode }}</td>
        <td style="min-width: 12rem; white-space: nowrap">{{ user.accessLevel }}</td>
  
        <td style="min-width: 10rem">
          <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editUser(user)" />
          <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  
<app-user-details-modal-component
    [(visible)]="userDialog"
    [user]="user"
    [isAdmin]="true"
    (save)="loadDemoData()" 
>
</app-user-details-modal-component>


  
  <p-confirmdialog [style]="{ width: '450px' }"></p-confirmdialog>
  