<p-toast></p-toast>

<p-dialog [(visible)]="visible" [style]="{ width: '500px', 'border-radius': '12px' }" header="Detalhes do Cargo" [modal]="true" class="p-fluid" [closable]="!isLoading">
    <div *ngIf="isLoading" class="flex justify-center items-center p-6">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div class="card flex flex-col gap-6 p-4" [class.opacity-50]="isLoading">        
            <div class="flex flex-col gap-2">
                <label for="code" class="font-medium">Codigo</label>
                <input pInputText class="p-inputtext border border-gray-300 rounded-md p-2" id="code" type="text" [(ngModel)]="position.code" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="description" class="font-medium">Descrição</label>
                <input pInputText id="description" type="text" class="p-inputtext border border-gray-300 rounded-md p-2" [(ngModel)]="postion.description" />
            </div>
    </div>

    <ng-template #footer>
        <div class="flex justify-end w-full p-4">
            <p-button label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" [disabled]="isLoading" />
            <p-button label="Salvar" icon="pi pi-check" class="p-button-primary ml-2" (click)="savePosition(position)" [disabled]="isLoading" />
        </div>
    </ng-template>
    


</p-dialog>
