<p-toolbar *ngIf="mode !== 'client'" styleClass="mb-6">
    <ng-template #start>
        <p-button label="Adicionar contribuição" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedContrib()" [disabled]="!selectedContrib" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="contribuitions()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ width: '100%' }"
    [(selection)]="selectedContrib"
    [rowHover]="true"
    [selectionMode]="'single'"
    (onRowSelect)="onContribClick($event.data)"
    dataKey="id"
    currentPageReportTemplate="Contribuição {first} até {last} de {totalRecords} Contribuições"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0 ml-4">Todas Contribuições</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th *ngIf="mode !== 'client'" class="px-4 py-2" scope="col">
                <p-tableHeaderCheckbox />
            </th>
            <th class="px-4 py-2">Código</th>
            <th class="px-4 py-2">Título</th>
            <th class="px-4 py-2">Tipo</th>
            <th class="px-4 py-2">Descrição</th>
            <th class="px-4 py-2">Criado em</th>
            <th *ngIf="mode !== 'client'" class="px-4 py-2">Total</th>
            <th *ngIf="mode !== 'client'" class="px-4 py-2">Aprovado</th>
            <th class="px-4 py-2">Evento</th>
            <th *ngIf="mode !== 'client'" class="px-4 py-2">Estado</th>
            <th class="px-4 py-2"></th>
        </tr>
    </ng-template>

    <ng-template #body let-contrib>
        <tr>
            <td *ngIf="mode !== 'client'" class="px-4 py-2">
                <p-tableCheckbox [value]="contrib" />
            </td>
            <td class="px-4 py-2">{{ contrib.code }}</td>
            <td class="px-4 py-2">{{ contrib.title }}</td>
            <td class="px-4 py-2">{{ contrib.type }}</td>
            <td class="px-4 py-2">{{ contrib.description }}</td>
            <td class="px-4 py-2">{{ contrib.createdAt }}</td>
            <td *ngIf="mode !== 'client'" class="px-4 py-2">{{ contrib.total }}</td>
            <td *ngIf="mode !== 'client'" class="px-4 py-2">{{ contrib.totalApproved }}</td>
            <td class="px-4 py-2">{{ contrib.eventCode }}</td>

            

            <td style="min-width: 9.5rem">
                <ng-container *ngIf="mode !== 'client'; else statusText">
                    <p-dropdown
                        [options]="statusOptions"
                        [(ngModel)]="contrib.cabecStatus"
                        optionLabel="name"
                        optionValue="value"
                        styleClass="w-full"
                        (onChange)="updateCabecStatus(contrib, $event.value)"
                        [appendTo]="'body'"
                        [panelStyle]="{ bottom: '100%', top: 'auto' }"
                    ></p-dropdown>
                </ng-container>
                <ng-template #statusText>
                    {{ contrib.cabecStatus }}
                </ng-template>
            </td>

            <td *ngIf="mode !== 'client'" class="px-4 py-2">
                <div class="flex items-center gap-2">
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="editContrib(contrib)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteContrib(contrib)" />
                </div>
            </td>

            <td *ngIf="mode === 'client'" class="px-4 py-2">
                <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true" (click)="onContribClick(contrib)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<app-contribuitions-details [visible]="contribDialog" (visibleChange)="contribDialog = $event" [contrib]="contrib" [submitted]="submitted" (save)="saveContrib()"></app-contribuitions-details>

<app-line-contribuitions-details [(visible)]="showLineContribModal" [contrib]="contrib" [submitted]="submitted" (save)="handleSave(line)"></app-line-contribuitions-details>

<p-confirmdialog [style]="{ width: '450px' }" />
