<p-toolbar *ngIf="mode !== 'client'" styleClass="mb-6">
    <ng-template #start>
        <p-button label="Adicionar contribuição" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedContrib()" [disabled]="!selectedContrib" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="contribuitions()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'width': '100%' }"
    [(selection)]="selectedContrib"
    [rowHover]="true"
    [selectionMode]="'single'"
    (onRowSelect)="onContribClick($event.data)"
    dataKey="id"
    currentPageReportTemplate="Contribuição {first} até {last} de {totalRecords} Contribuições"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0 ml-4">Todas Contribuições</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th *ngIf="mode !== 'client'" style="width: 3rem" scope="col">
                <p-tableHeaderCheckbox />
            </th>
            <th style="width: 20%">Código</th>
            <th style="width: 15%">Título</th>
            <th style="width: 8%">Tipo</th>
            <th style="width: 18%">Descrição</th>
            <th style="width: 10%">Criado em</th>
            <th *ngIf="mode !== 'client'" style="width: 8%">Total</th>
            <th *ngIf="mode !== 'client'" style="width: 8%">Aprovado</th>
            <th style="width: 15%">Evento</th>
            <th *ngIf="mode !== 'client'" style="width: 7%">Estado</th>
            <th style="width: 5%">Ações</th>
        </tr>
    </ng-template>

    <ng-template #body let-contrib>
        <tr>
            <td *ngIf="mode !== 'client'" style="width: 3rem">
                <p-tableCheckbox [value]="contrib" />
            </td>
            <td style="width: 8%">{{ contrib.code }}</td>
            <td style="width: 10%">{{ contrib.title }}</td>
            <td style="width: 8%">{{ contrib.type }}</td>
            <td style="width: 18%">{{ contrib.description }}</td>
            <td style="width: 10%">{{ contrib.createdAt }}</td>
            <td *ngIf="mode !== 'client'" style="width: 8%">{{ contrib.total }}</td>
            <td *ngIf="mode !== 'client'" style="width: 8%">{{ contrib.totalApproved }}</td>
            <td style="width: 10%">{{ contrib.eventCode }}</td>
            <td *ngIf="mode !== 'client'" style="width: 7%">{{ contrib.cabecStatus }}</td>

            <td *ngIf="mode !== 'client'" style="width: 10%">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editContrib(contrib)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteContrib(contrib)" />
            </td>
            <td *ngIf="mode === 'client'" style="width: 20%">
                <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true" (click)="onContribClick(contrib)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<app-contribuitions-details
  [(visible)]="contribDialog"
  [contrib]="contrib"
  [submitted]="submitted"
  (save)="saveContrib(contrib)"
></app-contribuitions-details>


<app-line-contribuitions-details
  [(visible)]="showLineContribModal"
  [contrib]="contrib"
  [submitted]="submitted"
  (save)="handleSave(line)"
></app-line-contribuitions-details>







<p-confirmdialog [style]="{ width: '450px' }" />
