<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()" *ngIf="currentUrl !== '/'">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="assets/logo-igreja.jpeg" alt="Logo" class="layout-topbar-logo-image rounded-full" width="50" height="50" />
            <!-- <span class="text-surface-900 dark:text-surface-0 font-medium text-1xl leading-normal mr-20 pr-10 whitespace-nowrap">Centro Emanuel</span> -->
        </a>
    </div>

    <div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
        <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
            <li>
                <a pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                    <i class="pi pi-home mr-2"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                    <i class="pi pi-book mr-2"></i>
                    <span>Oque a Biblia Diz?</span>
                </a>
            </li>
            <li>
                <a pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                    <i class="pi pi-users mr-2"></i>
                    <span>Sobre Nós</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
        </div>

        <!-- Botão de Perfil -->
        <button type="button" class="layout-topbar-action" (click)="openProfileMenu($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div>
</div>


<app-user-details-modal-component
    [visible]="isProfileDialogVisible"
    [user]="user"
    [isAdmin]="false">
</app-user-details-modal-component>


