<p-toast></p-toast>

<p-dialog [(visible)]="visible" [style]="{ width: '500px', 'border-radius': '12px' }" header="Detalhes da Consulta" [modal]="true" class="p-fluid" [closable]="!isLoading">
    <div *ngIf="isLoading" class="flex justify-center items-center p-6">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div class="card flex flex-col gap-6 p-4" [class.opacity-50]="isLoading">
        <!-- Campos organizados em duas colunas -->

        <input pInputText class="p-inputtext border border-gray-300 rounded-md p-2 hidden" id="id" type="text" [(ngModel)]="consultation.id" />
        <div class="flex flex-col gap-2">
            <label for="description" class="font-medium">Titulo</label>
            <input pInputText id="description" type="text" class="p-inputtext border border-gray-300 rounded-md p-2" [(ngModel)]="consultation.title" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="description" class="font-medium">Descrição</label>
            <textarea pInputText id="description" type="text" class="p-inputtext border border-gray-300 rounded-md p-2" [(ngModel)]="consultation.description"></textarea>
        </div>
       

        <div *ngIf="mode !== 'client'" class="flex flex-col gap-2">
            <label for="userEmail" class="font-medium">Utilizador</label>
            <p-autoComplete
                inputId="userEmail"
                [(ngModel)]="consultation.userEmail"
                [suggestions]="filteredUsers"
                [dropdown]="true"
                [forceSelection]="true"
                (completeMethod)="filterUser($event)"
                [field]="'fullName'"
                [optionLabel]="'fullName'"
                [optionValue]="'email'"
                class="w-full w-[400px]"
                inputStyleClass="p-inputtext border border-gray-300 rounded-md p-2 w-full "
            >
                <ng-template let-user pTemplate="item"> {{ user.name }} {{ user.lastName || '' }} </ng-template>

                <ng-template let-user pTemplate="selectedItem"> {{ user.name }} {{ user.lastName || '' }} </ng-template>
            </p-autoComplete>
        </div>
        <div class="flex flex-col gap-2">
            <label for="data" class="font-medium">Data</label>
            <input pInputText id="data" type="datetime-local" class="p-inputtext border border-gray-300 rounded-md p-2" [(ngModel)]="consultation.date" />
        </div>

        <div *ngIf="mode !== 'client'" class="flex flex-col gap-2">
            <label for="status" class="font-medium">Estado</label>
            <p-dropdown
                id="status"
                [(ngModel)]="consultation.status"
                [options]="statusOptions"
                optionLabel="name"
                optionValue="value"
                placeholder="Selecione"
                class="w-full p-dropdown-sm border border-gray-300 rounded-md p-2"
                [appendTo]="'body'"
                [panelStyle]="{ 'bottom': '100%', 'top': 'auto' }"
            >
            </p-dropdown>
        </div>
    </div>

    <!-- Rodapé com botões -->
    <ng-template #footer>
        <div class="flex justify-end gap-2">
            <p-button label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" [disabled]="isLoading" />
            <p-button label="Salvar" icon="pi pi-check" class="p-button-primary" (click)="saveConsultation(consultation)" [disabled]="isLoading" />
        </div>
    </ng-template>
</p-dialog>
